@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
}

@mixin wheel($size, $border-size, $border-color) {
  //size in % of parent square
  @include position-center;
  border-radius: 50%;
  width: $size;
  height: $size;
  border: $border-size, solid, $border-color;
  transform: translate(-50%, -50%);
}

@mixin diagonal($width, $rotation) {
  @include position-center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: $width;
  transform: translate(-50%, -50%) rotateZ($rotation);

  .star__btn {
    transform: rotateZ(-$rotation);
  }
}

@mixin tooth($height, $width, $border-size, $border-color) {
  height: $height;
  width: $width;
  border: $border-size solid $border-color;
}
