@import "./mixins.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  top: 200px;
  left: 100px;
  height: 500px;
  width: 500px;
  border: 1px solid green;
  position: relative;
}

.star {
  &__first-wheel {
    @include wheel(20%, 3px, blue);
  }
  &__second-wheel {
    @include wheel(30%, 6px, gray);
  }
  &__gear-wheel {
    @include wheel(50%, 3px, transparent);
    background-clip: padding-box;
    background-color: white;
    z-index: 2;

    &--bottom {
      @include wheel(50%, 3px, darkgreen);
      z-index: 0;
    }
  }
  &__external-wheel {
    @include wheel(85%, 1px, gray);
  }

  &__diagonal {
    &:nth-last-child(6) {
      @include diagonal(15%, 0deg);
    }
    &:nth-last-child(5) {
      @include diagonal(15%, 30deg);
    }
    &:nth-last-child(4) {
      @include diagonal(15%, 60deg);
    }
    &:nth-last-child(3) {
      @include diagonal(15%, 90deg);
    }
    &:nth-last-child(2) {
      @include diagonal(15%, 120deg);
    }
    &:nth-last-child(1) {
      @include diagonal(15%, 150deg);
    }
  }

  &__tooth {
    @include tooth(60%, 50%, 3px, darkgreen);
    background-color: white;
    z-index: 1;
  }
  //@mixin tooth($height, $width, $border-size, $border-color)

  &__btn {
    width: 100%;
    height: 0;
    padding-top: 50%;
    padding-bottom: 50%;
    border-radius: 50%;
    border: none;
  }
}
