@import "./mixins.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  top: 200px;
  left: 100px;
  height: 500px;
  width: 500px;
  border: 1px solid green;
  position: relative;
}

.star {
  &__first-wheel {
    @include wheel(20%, 3px, blue);
  }
  &__second-wheel {
    @include wheel(30%, 6px, gray);
  }
  &__gear-wheel {
    @include wheel(50%, 3px, transparent);
    background-clip: padding-box;
    &--bottom {
      @include wheel(50%, 3px, darkgreen);
    }
  }
  &__external-wheel {
    @include wheel(80%, 1px, gray);
  }
}
