@import "./mixins.scss";

//Sass variables to define element sizes
$first-wheel-size: 15%;
$first-wheel-thiccness: 3px;
$first-wheel-color: blue;
$second-wheel-size: 30%;
$second-wheel-thiccness: 6px;
$second-wheel-color: gray;
$gear-wheel-size: 50%;
$gear-wheel-thiccness: 3px;
$gear-wheel-color: darkgreen;
$external-wheel-size: 85%;
$external-wheel-thiccness: 1px;
$external-wheel-color: gray;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  top: 200px;
  left: 100px;
  height: 500px;
  width: 500px;
  border: 1px solid green;
  position: relative;
}

.star {
  &__first-wheel {
    @include wheel($first-wheel-size, $first-wheel-thiccness, $first-wheel-color);
    z-index: 4;
  }
  &__second-wheel {
    @include wheel($second-wheel-size, $second-wheel-thiccness, $second-wheel-color);
    z-index: 3;
  }
  &__gear-wheel {
    @include wheel($gear-wheel-size, $gear-wheel-thiccness, transparent);
    background-clip: padding-box;
    background-color: white;
    z-index: 2;

    &--bottom {
      @include wheel($gear-wheel-size, $gear-wheel-thiccness, $gear-wheel-color);
      z-index: 0;
    }
  }
  &__external-wheel {
    @include wheel($external-wheel-size, $external-wheel-thiccness, $external-wheel-color);
  }

  &__diagonal {
    &:nth-last-child(6) {
      @include diagonal(15%, 0deg);
    }
    &:nth-last-child(5) {
      @include diagonal(15%, 30deg);
    }
    &:nth-last-child(4) {
      @include diagonal(15%, 60deg);
    }
    &:nth-last-child(3) {
      @include diagonal(15%, 90deg);
    }
    &:nth-last-child(2) {
      @include diagonal(15%, 120deg);
    }
    &:nth-last-child(1) {
      @include diagonal(15%, 150deg);
    }
  }

  &__tooth {
    @include tooth(60%, 50%, 3px, darkgreen);
    background-color: white;
    z-index: 1;
  }

  &__btn {
    width: 100%;
    height: 0;
    padding-top: 50%;
    padding-bottom: 50%;
    border-radius: 50%;
    border: none;
  }
}
